body{
    text-align: center;
}

.nav-bar li{
    list-style-type: none;
    float: left;
    text-align: center;
    height: 20px;
    width: 25%;
}


form{
    display: inline-block;
    margin: 10px;
}

form div{
    margin-top: 10px;
}

textarea{
    width: 100%;
    height: 5rem;
}

button{
    width: 100%;
    height: 2rem;
}



.linkList{
    text-align: left;
    margin: auto;
    max-width: 50%;
}

.orderedLinks{
    display: inline-block;
    width: 49%;
}

.unorderedLinks{
    display: inline-block;
    width: 49%;
}



.imageGallery{
    margin-top: 100px;
}

.imageCaption{
    background-color: red;
    text-align: center;
    display: inline-block;
    margin: 15px;
}

.rowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
